{% extends "base.html" %}

{% block head_block %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/about_me.css' %}">
{% endblock %}

{% block body_block %}

<div class="entire-page">

  <h1 class='raleway'>About</h1>
  <hr class='hr-style'>

  <div class="container-fluid montserrat main-text">
    Hi there, my name is Clint Dunn, I'm a mechanical and software engineer from
    the United States. I have just finished my M.S. degree in
    mechanical engineering and am now excited to be switching gears to
    focus fully on software development.
    <br>
    <br>
    My research focused on modeling reactive multiphase flows in computational
    fluid dynamics (CFD).
    Particularly we were interested in incorporating a more robust treatment
    of energetic and chemical coupling in pulverized coal furnace modeling. If
    you are into that kind of thing you should check out my
    <a href="{% static 'dunn_thesis_final.pdf' %}">thesis</a>.
    <br>
    <br>
    For our modeling work we primarily used an open source CFD toolbox,
    <a href="openfoam.org">OpenFOAM</a>. OpenFOAM is written in C++ and provided
    me with an excellent
    introduction to
    the world of open source software engineering. Python was also used heavily
    in my research for data analysis, lighter simulations, post and pre
    processing simulations results and general scripting.
    <br>
    <br>
    Since finishing my master's
    I have been spending a lot of time developing websites using
    Django, the Django Rest Framework, and React;
    writing about various Python, C++, and Django related topics; and
    becoming involved in freelance software engineering.

    I am currently seeking full time employment as a software engineer.
    If you are interested in getting a hold of me please reach out through
    the contact information below or take a look at my
    <a href="{% static 'ClintDunn_Resume.pdf' %}"> resume</a>.
  </div>
  <br>

  <h1 class='raleway'>Contact</h1>

  <hr class='hr-style'>

  <div class="container-fluid montserrat main-text">
    Please feel free to send me an email at clint@clintdunn.org or
    reach out to any of the profile links below.
  </div>

  <div class="link-buttons-container">
    <a href="https://github.com/cdunn6754" title="github">
      <img class="link-buttons" src="{% static 'images/website_link_icons/GitHub.png' %}" alt="github">
    </a>
    <a href="https://www.linkedin.com/in/clint--dunn/" title="linked in">
      <img class="link-buttons" src="{% static 'images/website_link_icons/linked_in.png' %}" alt="Linked In">
    </a>
    <a href="https://stackoverflow.com/users/5063421/c6754?tab=profile" title="stack overflow">
      <img class="link-buttons" src="{% static 'images/website_link_icons/stack_overflow.png' %}" alt="Stack Overflow">
    </a>
  </div>

</div>

<br>


{% endblock %}
