{% extends "base.html" %}

{% block head_block %}

<!-- The css from tutorialzine.com for listing the articles-->
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/landing_page.css'%}">
<link rel="stylesheet" href="{% static 'css/lists/article_list.css'%}">

{% endblock %}


{% block body_block %}

  {% load staticfiles %}

    <!-- Page Header -->
  <div class="container-fluid top-text">
    <div class="jumbotron bg-white d-flex align-items-center">
        <div class="row justify-content-center">
        </div>
        <div class="row">
          <div class="col-12">
            <h2 class='montserrat'>Hi there, i'm Clint</h2>
            <h4 class='welcome'>
              Welcome to my personal site,
              here you can find some articles and
              tutorials centered around Python and C++ development.
            </h4>
          </div>
        </div>
    </div>
  </div>

  <div class="container-fluid article-list">

    <h3 class='article-list-header montserrat'>
      Most recent articles:
    </h3>

    <hr>

    <div class="row justify-content-md-center">
      <div class="col-md-10">
        {% for post in limited_ordered_posts  %}
          <div class="card">
            <img class="card-img-top" src="{{post.heading_image.url}}" alt="Article Image">
            <div class="card-body">
              <h3 class="card-title article-title montserrat">{{post.title}}</h3>
                <div class="post-header">
                  <span class="post-author vcard">
                    Posted by Clint Dunn
                  </span>
                  <span class="post-timestamp">
                    on {{post.creation_date}};
                  </span>
                  <span class="post-labels">
                    Topics:
                    {% for topic in post.contentTopics.all %}
                      {{topic.name}},
                    {% endfor %}
                  </span>
                </div>
              <p class="card-text montserrat">
                {{post.description}}
              </p>
              <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>



{% endblock %}
