{% extends "base.html" %}

{% block head_block %}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { fonts: ["TeX"] }
    });
  </script>

  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

{% endblock %}

{% block body_block %}

  <div class="container">
    <div class="jumbotron text-center" >
      <h1>{{contentpost.title}}</h1>
    </div>
    <br>
    {% include  post_file_path %}
  </div>

{% endblock %}
