{% extends "base.html" %}

{% block head_block %}

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/lists/article-list-vertical.css'%}">
{% endblock %}

{% block body_block %}

  <div class="container article-list-vertical-header montserrat">
    <h1>Articles:</h1>
  </div>
  {% for post in ordered_posts  %}
      <ul class='article-list-vertical'>
        <li>
          <a href="{% url 'content:post_detail' slug=post.slug %}" style="background-image: url('{{post.heading_image.url}}')"></a>
          <div>
            <h2><a href="#">{{post.title}}</a></h2>
            <h3>created: {{post.creation_date}};
               modified: {{post.date_modified}};
               topics:
                        {% for topic in post.contentTopics.all %}
                          {{topic.name}},
                        {% endfor %}
            </h3>
            <p>{{post.description}}</p>
            <a href="{% url 'content:post_detail' slug=post.slug %}" class="read-more">read more</a>
          </div>
        </li>
      </ul>
  {% endfor %}

{% endblock %}
