{% extends "base.html" %}

{% block head_block %}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { fonts: ["TeX"] }
    });
  </script>

  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>



  {% load staticfiles%}
  <link rel="stylesheet" href="{% static 'css/detail_page.css'%}">
  <link rel="stylesheet" href="{% static 'css/prism.css' %}"/>
  <script src="{% static 'js/prism.js' %}"></script>

{% endblock %}

{% block body_block %}

<div class="container-fluid entire-page">
  <div class="main-container">
    <div class="title-text">
      <h1 class="montserrat">{{contentpost.title}}:</h1>
    </div>

    <hr class="hr-style">

    <div class="post-info montserrat">
      {{contentpost.creation_date}};
      {% for topic in object.contentTopics.all %}
        {{topic.name}}
      {% endfor %}
    </div>

    <hr class="hr-style">

    <br>
    <br>

    <div class="main-text raleway">
      {% include  post_template %}
    </div>

  </div> <!-- end main-containter -->

  <br>
  <hr class="hr-style">
  <br>

  <div id="disqus_thread"></div>
  <script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

  var disqus_config = function () {
  this.page.url = "{{ request.build_absolute_uri }}";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "{{contentpost.slug}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://clintdunn-org.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>

{% endblock %}
