/* text container on top of landing page */
.title-text{
  list-style:none;
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  padding: 0;
}


.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.welcome{
  font-family: "Raleway", sans-serif;
}

.post-info{
  text-align: center;
  font-size: 1em;
}

.main-text{
  font-size: 1.2em;
}

.hr-style{
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}


/* Code in content*/
