.entire-page{
  max-width: 900px;
}

/* text container on top of landing page */
.title-text{
  list-style:none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

img{
  max-width: 110%;
  max-height: 100%;
  padding:1px;
  border:1px solid #021a40;
  background-color: black;
}

.post-info{
  text-align: center;
  font-size: 1em;
}

.main-text{
  font-size: 1.1em;
  word-spacing: 1.2;
}

/*Style for the horizontal bar */
.hr-style{
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
