
{% extends "base.html" %}

{% block head_block %}

  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
  </script>

  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  {% load staticfiles %}

  <!-- Reply Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}


{% block body_block %}

<div class="jumbotron">
  <h1>{{ object.title }}</h1>
</div>


<p>
  {{ object.user_markdown | safe }}
</p>

<h2>Comments:</h2>

<form method="POST"> {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Post Comment">
</form>


<br>
{% for comment in comments %}
<div class="container">
  <div class="row">
    <h3 class="mb-2">Comments</h3>
    <!-- COMMENT -->
    <div class="comment row shadow-lg p-3 mb-500 bg-light rounded">
      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1 ">
        <a href="{% url 'landing_page'%}"><img class="mx-auto rounded-circle img-fluid" src="{% static 'images/smiling.jpg' %}" alt="No Pippin!"></a>
      </div>
      <div class="comment-content col-md-11 col-sm-10">
        <h6 class="small comment-meta"><a href="#">{{ comment.author.user.username}}</a> {{comment.date_created}}</h6>
        <div class="comment-body">
          <p>{{comment.body}}</p>
          <br>
          <a class="text-right small" href="#"><i class="material-icons" style="font-size:15px">reply</i>Reply</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
